body{
    width:960px;
    line-height: 1.5;
    margin: auto;
    background-color:gainsboro;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 header nav ul li{
     display: inline;
 }

 .img1{
    width:500px;
    margin: 20px;
}
h1{
    background-color: darkred;
    color: black;
    
        border-style: solid;
        border-color:yellow;
      
      
}

footer{
    background-color: black;
    font-style: italic;
    font-size: medium;
    color:white;

}
li a {
    background-color: black;
    color:whitesmoke;
}

p {
    border-style: solid;
    border-color:yellow;
    background-color: red;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    text-align: center;


  }

  




